/*
    Document   : multistep_form_creator.css
    Author     : vitaliy
*/

#multistep-form-creator-form #edit-header ul li.active {
    font-weight:bold;
}
input[type="submit"].form-submit.form-disabled {
    background: #ededed;
    border-color: #bbb;
    color: #717171;
}
